.recipe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-detail-container {
  border-radius: 28px;
  width: 560px;
  height: 550px;
  background-color: rgba(139, 136, 136, 0.21);
  margin: 50px 100px;
}
.recipe-details {
  padding: 24px;
  height: 196px;
}
.recipe-details h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(29, 27, 32, 1);
  margin-bottom: 16px;
}
.recipe-details span {
  font-size: 14px;
  font-weight: 400;
}
.recipe-list {
  width: 312px;
  height: 57px;
}
.recipe-list h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
}
.recipe-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 5px;
  color: rgba(162, 168, 186, 1);
}

.recipe-list ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  font-size: 20px;
  background-color: rgba(80, 158, 47, 1);
  color: rgba(255, 255, 255, 1);
}

.image-container {
  width: 557px;
  height: 552px;
  margin: 50px 100px;
  position: relative;
}

.image-with-shadow {
  width: 549px;
  height: 549px;
  position: relative;
}
.image-with-shadow img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.8));
}

.image-opacity {
  position: absolute;
  top: 0;
  left: 0;
}

.image-opacity img {
  width: 549px;
  height: 549px;
  opacity: 0.3;
}
